<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}"/>
    <meta name="keywords" content="{{ page.keywords }}"/>

    {% block headLinks %}
        {% if page.favicon != null %}
            <link rel="icon" href="{{page.favicon}}" />
        {% endif %}
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}


    {% block footScripts %}
        <script src="/js/vendor/jquery-2.1.1.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
