<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block headLinks %}{% endblock %}
    {% block headScripts %}{% endblock %}
</head>
<body>
{% block main %}{% endblock %}
{% block footScripts %}

{% endblock %}
</body>
</html>
