<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block headLinks %}{% endblock %}
    {% block headScripts %}{% endblock %}
</head>
<body>
{% block main %}{% endblock %}
{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
{% endblock %}
</body>
</html>
